<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Подготовка данных</a></span></li><li><span><a href="#Исследование-задачи" data-toc-modified-id="Исследование-задачи-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Исследование задачи</a></span><ul class="toc-item"><li><span><a href="#Дерево-решений" data-toc-modified-id="Дерево-решений-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Дерево решений</a></span></li><li><span><a href="#Лес" data-toc-modified-id="Лес-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Лес</a></span></li><li><span><a href="#Логистическая-регрессия" data-toc-modified-id="Логистическая-регрессия-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Логистическая регрессия</a></span></li></ul></li><li><span><a href="#Борьба-с-дисбалансом" data-toc-modified-id="Борьба-с-дисбалансом-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Борьба с дисбалансом</a></span><ul class="toc-item"><li><span><a href="#Class-weighted-на-неизмененных-данных" data-toc-modified-id="Class-weighted-на-неизмененных-данных-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Class-weighted на неизмененных данных</a></span></li><li><span><a href="#Upsampling" data-toc-modified-id="Upsampling-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Upsampling</a></span><ul class="toc-item"><li><span><a href="#Upsampling:-Дерево-решений" data-toc-modified-id="Upsampling:-Дерево-решений-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Upsampling: Дерево решений</a></span></li><li><span><a href="#Upsampling:-Лес" data-toc-modified-id="Upsampling:-Лес-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Upsampling: Лес</a></span></li><li><span><a href="#Upsampling:-Логистическая-регрессия" data-toc-modified-id="Upsampling:-Логистическая-регрессия-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Upsampling: Логистическая регрессия</a></span></li></ul></li><li><span><a href="#Downsampling" data-toc-modified-id="Downsampling-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Downsampling</a></span><ul class="toc-item"><li><span><a href="#Downsampling-дерево-решений" data-toc-modified-id="Downsampling-дерево-решений-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Downsampling дерево решений</a></span></li><li><span><a href="#Downsampling-случайный-лес" data-toc-modified-id="Downsampling-случайный-лес-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Downsampling случайный лес</a></span></li><li><span><a href="#Downsampling-логистическая-регрессия" data-toc-modified-id="Downsampling-логистическая-регрессия-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>Downsampling логистическая регрессия</a></span></li></ul></li></ul></li><li><span><a href="#Тестирование-модели" data-toc-modified-id="Тестирование-модели-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Тестирование модели</a>

# Отток клиентов банка

Из банка уходят клиенты. Банковские маркетологи посчитали: сохранять текущих клиентов дешевле, чем привлекать новых.

Нужно спрогнозировать, уйдёт клиент из банка в ближайшее время или нет. Предоставлены исторические данные о поведении клиентов и расторжении договоров с банком. 


Задача: построить модель с предельно большим значением *F1*-меры, минимум нужно довести метрику до 0.59. 

Источник данных: [https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling](https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling)

## Подготовка данных

Чтобы начать, импортируем все необходимое:

In [1]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler

from sklearn.utils import shuffle

from sklearn.metrics import roc_auc_score

import warnings

Откроем файл и посмотрим на данные:

In [3]:
data = pd.read_csv('Churn.csv')

data.info()

#cделать названия всех столбов с нижней буквы
data.columns = [x.lower() for x in data.columns]

#проверка
data 

#data.query('tenure.isna()')
data[data['tenure'].isna()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

,rownumber,customerid,surname,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,exited
30,31,15589475,Azikiwe,591,Spain,Female,39,NaN,0.00,3,1,0,140469.38,1
48,49,15766205,Yin,550,Germany,Male,38,NaN,103391.38,1,0,1,90878.13,0
51,52,15768193,Trevisani,585,Germany,Male,36,NaN,146050.97,2,0,0,86424.57,0
53,54,15702298,Parkhill,655,Germany,Male,41,NaN,125561.97,1,0,0,164040.94,1
60,61,15651280,Hunter,742,Germany,Male,35,NaN,136857.00,1,0,0,84509.57,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9944,9945,15703923,Cameron,744,Germany,Male,41,NaN,190409.34,2,1,1,138361.48,0
9956,9957,15707861,Nucci,520,France,Female,46,NaN,85216.61,1,1,0,117369.52,1
9964,9965,15642785,Douglas,479,France,Male,34,NaN,117593.48,2,0,0,113308.29,0
9985,9986,15586914,Nepean,659,France,Male,36,NaN,123841.49,2,1,0,96833.00,0
9999,10000,15628319,Walker,792,France,Female,28,NaN,130142.79,1,1,0,38190.78,0

Для будущего удобства сделаем буквы в названиях столбцов на одном уровне.

 Также видим, что в одном из столбов есть пропуски. Через функцию query() посмотрим, есть ли какая-то закономерность в пропусках - паттерна не обнаружили, поэтому будем заменять пропуски медианным или средним значением.

In [4]:
data['tenure'].unique()
data['tenure'].describe()
# видим, что медиана - это и есть среднее, грубо говоря, заменяем на значение 5

data['tenure'] = data['tenure'].fillna(5)

Можно было заметить в данных столбцы, которые не пригодятся модели: фамилия клиента, индекс строки и id клиента - избавимся от них:

In [5]:
data = data.drop(['surname', 'customerid', 'rownumber'], axis=1)

# проверка
data

,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,exited
0,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5.0,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10.0,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7.0,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3.0,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,5.0,130142.79,1,1,0,38190.78,0

Теперь у нас остались только те данные, которые пригодятся модели, осталось привести их к корректному виду: переведем категориальные признаки к числовому виду, а числовые стандартизируем

In [6]:
# тут мы проверяем, нет ли лишних классов в столбе gender и смотрим, сколько стран нам дано

data['geography'].value_counts()
data['gender'].value_counts()

Male      5457
Female    4543
Name: gender, dtype: int64

In [7]:
# смотрим, нет ли лишнего, кроме 1 и 0
data['hascrcard'].unique()
data['isactivemember'].unique()

# ohe

data = pd.get_dummies(data, drop_first=False)
# проверка
data

,creditscore,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,exited,geography_France,geography_Germany,geography_Spain,gender_Female,gender_Male
0,619,42,2.0,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1.0,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8.0,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1.0,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2.0,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5.0,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10.0,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7.0,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3.0,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,5.0,130142.79,1,1,0,38190.78,0,1,0,0,1,0

С категориальными признаками разобрались - перевели их в числовые значения, теперь очередь числовых.

 Для стандартизации признаков - приведения их к одному масштабу, нам потребуется обучить scaler, поэтому сначала разделим наши данные на три выборки: обучающую, валидационную и тестовую. И проверим, получилось ли у нас разделить выборки в задуманном отношении 3:1:1

In [8]:
# разделим данные по признакам

features = data.drop('exited', axis=1)
target = data['exited']

#разделим данные на три выборки

features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.2, random_state=12345)
features_train, features_valid, target_train, target_valid = train_test_split(features_train, target_train, test_size=0.25, random_state=12345)

# проверка

print(features_train.shape)
print(features_valid.shape)
print(features_test.shape)

(6000, 13)
(2000, 13)
(2000, 13)

С помощью scaler'а приведем наши числовые признаки к одному масштабу, чтобы наши будущие модели относились к ним как к равным:

In [9]:
# числовые - стандаритизация

numeric = ['creditscore', 'age', 'tenure', 'balance', 'numofproducts', 'estimatedsalary']

scaler = StandardScaler()
scaler.fit(features_train[numeric])
data[numeric] = scaler.transform(data[numeric])

# проверка
data

features_train[numeric] = scaler.transform(features_train[numeric])
features_valid[numeric] = scaler.transform(features_valid[numeric])
features_test[numeric] = scaler.transform(features_test[numeric])

<ipython-input-9-15533564caa0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_test[numeric] = scaler.transform(features_test[numeric])
C:\Users\meekc\anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

Все получилось, как и было задумано. Теперь наши данные готовы для всего остального

## Исследование задачи

 Посмотрим, как выглядит целевой признак, с чем нам предстоит иметь дело:

In [11]:
data['exited'].value_counts()

0    7963
1    2037
Name: exited, dtype: int64

Видим, что отношение классов целевого признака далеко от 1:1, в данных дисбаланс, но сначала попробуем обучить модель на том, что есть.

 Создадим функции для того, что будет многократно повторятся в будущем - поиск лучшей модели (дерево решений, случайный лес и линейная регрессии):

In [41]:
# сделали выключатель, чтобы при необходимости, можно было бы посмотреть все результаты в рэндже

results_dict = {}

# дерево
def tree_fit_predict_score(i, j, x, features_train, target_train, features_valid, target_valid, switch, class_weight_state, model_name):
    best_model = None
    best_result = 0

    for depth in range(i, j, x):
        model = DecisionTreeClassifier(max_depth = depth, random_state=12345, class_weight = class_weight_state)
        model.fit(features_train, target_train)
        
        predictions = model.predict(features_valid)
        f1_result = f1_score(target_valid, predictions)
        
        probabilities_valid =  model.predict_proba(features_valid)
        probabilities_one_valid = probabilities_valid[:, 1]
        auc_roc = roc_auc_score(target_valid, probabilities_one_valid)
        
        if f1_result> best_result:
            best_result = f1_result
            best_model = model
            best_depth = depth
            results_dict[model_name] = best_result
        if switch == 1:    
            print('f1-мера:', f1_result, 'при глубине:', depth)
            print()    
    
    print('Лучшая f1-мера:', best_result, 'при глубине:', best_depth, 'auc-roc:', auc_roc) 

    
#лес    
def forest_fit_predict_score(i, j, x, z, features_train, target_train, features_valid, target_valid, switch, class_weight_state, model_name):
    best_model = None
    best_result = 0

    for depth in range(i, j, x):
        model = RandomForestClassifier(n_estimators = z, max_depth = depth, random_state=12345, class_weight = class_weight_state)
        model.fit(features_train, target_train)
        
        predictions = model.predict(features_valid)
        f1_result = f1_score(target_valid, predictions)
        
        probabilities_valid =  model.predict_proba(features_valid)
        probabilities_one_valid = probabilities_valid[:, 1]
        auc_roc = roc_auc_score(target_valid, probabilities_one_valid)
        
        if f1_result> best_result:
            best_result = f1_result
            best_model = model
            best_depth = depth
            results_dict[model_name] = best_result
        if switch == 1:    
            print('f1-мера:', f1_result, 'N деревьев:', z, 'при глубине:', depth)
            print()    
    
    print('Лучшая f1-мера:', best_result, 'N деревьев:', z, 'при глубине:', best_depth, 'auc-roc:', auc_roc) 

# логистическая регрессия

def log_regression(features_train, target_train, features_valid, target_valid, class_weight_state, model_name):
    model = LogisticRegression(random_state=12345, solver='liblinear',  class_weight = class_weight_state)
    model.fit(features_train, target_train)
    predictions = model.predict(features_valid)
    f1_score_lr = f1_score(target_valid, predictions)
    results_dict[model_name] = f1_score_lr
    
    probabilities_valid =  model.predict_proba(features_valid)
    probabilities_one_valid = probabilities_valid[:, 1]
    auc_roc = roc_auc_score(target_valid, probabilities_one_valid)
    
    
    print("f1_score логистической регрессии:", f1_score_lr, 'auc-roc:', auc_roc)

Приступаем к поиску лучшей модели!

***

 Начнем с неизмененных данных:

### Дерево решений

In [39]:
%%time

warnings.filterwarnings('ignore')

# дерево

tree_fit_predict_score(1, 201, 10, features_train, target_train, features_valid, target_valid, 0, None, "tree_untouched")
# получили глубину 11
tree_fit_predict_score(1, 21, 1, features_train, target_train, features_valid, target_valid, 0, None, 'tree_untouched')

Лучшая f1-мера: 0.5109489051094891 при глубине: 11 auc-roc: 0.6824774009368656
Лучшая f1-мера: 0.5583596214511041 при глубине: 7 auc-roc: 0.6864798233720489
Wall time: 3.59 s

Лучший результат: 0,55 при глубине в 8

### Лес

In [43]:
%%time

forest_fit_predict_score(1, 201, 10, 20, features_train, target_train, features_valid, target_valid, 0, None, 'forest_untouched') #11
forest_fit_predict_score(1, 31, 1, 20, features_train, target_train, features_valid, target_valid, 0, None, 'forest_untouched') 
print()

forest_fit_predict_score(1, 201, 10, 80, features_train, target_train, features_valid, target_valid, 0, None, 'forest_untouched') #21
forest_fit_predict_score(1, 31, 1, 80, features_train, target_train, features_valid, target_valid, 0, None, 'forest_untouched')

Лучшая f1-мера: 0.5544871794871795 N деревьев: 20 при глубине: 11 auc-roc: 0.824904350369326
Лучшая f1-мера: 0.5714285714285714 N деревьев: 20 при глубине: 17 auc-roc: 0.824904350369326

Лучшая f1-мера: 0.5510534846029173 N деревьев: 80 при глубине: 31 auc-roc: 0.8409847739457875
Лучшая f1-мера: 0.5714285714285714 N деревьев: 80 при глубине: 19 auc-roc: 0.8409847739457875
Wall time: 1min 44s

### Логистическая регрессия

In [44]:
%%time

log_regression(features_train, target_train, features_valid, target_valid, None, 'log_reg_untouched')

f1_score логистической регрессии: 0.30131826741996237 auc-roc: 0.7703598206380669
Wall time: 136 ms

Лучше всего себя показал случайный лес, но это и ожидалось. Но все равно результаты f1-меры не поднимается выше 0.59 - наша цель. У логистической регресии совсем плохой результат получился. Ищем дальше: посмотрим, как поведут себя модели, если мы поработаем над дисбалансом классов.

***

## Борьба с дисбалансом

Для начала еще раз посмотрим, в каком отнашении находятся классы нашего целевого признака:

In [19]:
target_train.value_counts(normalize=True)

#4781 / 1219
 # ~ 4:1

0    0.796833
1    0.203167
Name: exited, dtype: float64

Получили отношение ~ 4:1, сильный перевес класса 0, поппробуем исправить тремя способами: сбалансируем вес классов, увеличим объем класса 1, и уменьшим объем класса 0.

### Class-weighted на неизмененных данных

Сначала попробуем сбалансировать вес классов: для этого добавляем аргумент в функцию создания модели.

In [23]:
%%time
# дерево 1

tree_fit_predict_score(1, 201, 10, features_train, target_train, features_valid, target_valid, 0, 'balanced', 'tree_balanced')
# полчили глубину 11
tree_fit_predict_score(1, 21, 1, features_train, target_train, features_valid, target_valid, 0, 'balanced', 'tree_balanced')

Лучшая f1-мера: 0.505699481865285 при глубине: 11 auc-roc: 0.6840669253352704
Лучшая f1-мера: 0.5571428571428572 при глубине: 6 auc-roc: 0.6839254576638123
Wall time: 3.62 s

Интересно, что показатели дерева упали, на чуточку, но все же

In [45]:
%%time
#лес

forest_fit_predict_score(1, 201, 10, 20, features_train, target_train, features_valid, target_valid, 0, 'balanced', 'forest_balanced') #11
forest_fit_predict_score(1, 31, 1, 20, features_train, target_train, features_valid, target_valid, 0, 'balanced', 'forest_balanced') 
print()

forest_fit_predict_score(1, 201, 10, 80, features_train, target_train, features_valid, target_valid, 0, 'balanced', 'forest_balanced') #11
forest_fit_predict_score(1, 31, 1, 80, features_train, target_train, features_valid, target_valid, 0, 'balanced', 'forest_balanced')

Лучшая f1-мера: 0.5790884718498659 N деревьев: 20 при глубине: 11 auc-roc: 0.8351146603424788
Лучшая f1-мера: 0.587515299877601 N деревьев: 20 при глубине: 9 auc-roc: 0.8351146603424788

Лучшая f1-мера: 0.5868102288021535 N деревьев: 80 при глубине: 11 auc-roc: 0.8457994433485557
Лучшая f1-мера: 0.5966183574879227 N деревьев: 80 при глубине: 9 auc-roc: 0.8457994433485557
Wall time: 1min 46s

In [46]:
log_regression(features_train, target_train, features_valid, target_valid, 'balanced', 'log_reg_balanced')

f1_score логистической регрессии: 0.47500000000000003 auc-roc: 0.7725406481126783

А показатели леса и логистической регресии выросли! У леса почти добирается до нашего целевого значения. У логрег не так высоко, но рост значительный.

***

Попробуем второй способ

### Upsampling

В этом способе нам нужно разделить тренировочную выборку по классам, чтобы увеличить объем нулевого. Увеличивать будем в 4 раза, чтобы примерно сравнять количество

In [25]:
features_train_ones = features_train[target_train == 1]
features_train_zeros = features_train[target_train == 0]
target_train_ones = target_train[target_train == 1]
target_train_zeros = target_train[target_train == 0]

features_up = pd.concat([features_train_zeros] + [features_train_ones] * 4)
target_up = pd.concat([target_train_zeros] + [target_train_ones] * 4)


features_up, target_up = shuffle(features_up, target_up, random_state=12345)

# проверка

target_up.value_counts()

1    4876
0    4781
Name: exited, dtype: int64

#### Upsampling: Дерево решений

In [47]:
%%time
# дерево


tree_fit_predict_score(1, 201, 10, features_up, target_up, features_valid, target_valid, 0, None, 'tree_upsampled')
#11
tree_fit_predict_score(1, 21, 1, features_up, target_up, features_valid, target_valid, 0, None, 'tree_upsampled')

Лучшая f1-мера: 0.4944275582573454 при глубине: 11 auc-roc: 0.6789160715222398
Лучшая f1-мера: 0.5571428571428572 при глубине: 6 auc-roc: 0.68448576501425
Wall time: 5.02 s

#### Upsampling: Лес

In [48]:
%%time

forest_fit_predict_score(1, 201, 10, 20, features_up, target_up, features_valid, target_valid, 0, None, 'forest_upsampled') #31
forest_fit_predict_score(1, 41, 1, 20, features_up, target_up, features_valid, target_valid, 0, None, 'forest_upsampled') 
print()

forest_fit_predict_score(1, 201, 10, 80, features_up, target_up, features_valid, target_valid, 0, None, 'forest_upsampled' #21
forest_fit_predict_score(1, 31, 1, 80, features_up, target_up, features_valid, target_valid, 0, None, 'forest_upsampled')

SyntaxError: invalid syntax (<unknown>, line 6)

#### Upsampling: Логистическая регрессия

In [29]:
log_regression(features_up, target_up, features_valid, target_valid, None, 'log_reg_upsampled')

f1_score логистической регрессии: 0.476693051890941 auc-roc: 0.7725485957346703

Снова лучше всех показал себя случайный лес, увеличив свои показатели, даже добившись целевого значения f1-меры, хоть и на валидационной выборке. В то же время дерево и логрег понижают показатели

***

Посмотрим, что нам приподнесет следующий способ, хотя на него больших надежд и нет

### Downsampling

Как можно догадаться, здесь мы наоборот понижать объем первого класса

In [30]:

features_down = pd.concat([features_train_zeros.sample(frac=0.25, random_state=12345)] + [features_train_ones])
target_down = pd.concat([target_train_zeros.sample(frac=0.25, random_state=12345)] + [target_train_ones])


features_downs, target_down= shuffle(features_down, target_down, random_state=12345)

# проверка
target_down.value_counts()

1    1219
0    1195
Name: exited, dtype: int64

#### Downsampling дерево решений

In [49]:
%%time
# дерево


tree_fit_predict_score(1, 201, 10, features_down, target_down, features_valid, target_valid, 0, None, 'tree_downsampled')
#11
tree_fit_predict_score(1, 21, 1, features_down, target_down, features_valid, target_valid, 0, None, 'tree_downsampled')

Лучшая f1-мера: 0.2999157540016849 при глубине: 1 auc-roc: 0.5124467708017084
Лучшая f1-мера: 0.30942895086321387 при глубине: 5 auc-roc: 0.511486698065072
Wall time: 2.46 s

#### Downsampling случайный лес

In [50]:
%%time

forest_fit_predict_score(1, 201, 10, 20, features_down, target_down, features_valid, target_valid, 0, None, 'forest_downsampled') #31
forest_fit_predict_score(1, 41, 1, 20, features_down, target_down, features_valid, target_valid, 0, None, 'forest_downsampled') 
print()

forest_fit_predict_score(1, 201, 10, 80, features_down, target_down, features_valid, target_valid, 0, None, 'forest_downsampled') #21
forest_fit_predict_score(1, 31, 1, 80, features_down, target_down, features_valid, target_valid, 0, None, 'forest_downsampled')

Лучшая f1-мера: 0.33103448275862074 N деревьев: 20 при глубине: 1 auc-roc: 0.5271617929199404
Лучшая f1-мера: 0.33856502242152464 N деревьев: 20 при глубине: 2 auc-roc: 0.5271617929199404

Лучшая f1-мера: 0.35791881074899945 N деревьев: 80 при глубине: 1 auc-roc: 0.5244206580948914
Лучшая f1-мера: 0.35791881074899945 N деревьев: 80 при глубине: 1 auc-roc: 0.5267016256066023
Wall time: 1min 7s

#### Downsampling логистическая регрессия

In [72]:
log_regression(features_down, target_down, features_valid, target_valid, None, 'log_reg_downsampled')

f1_score логистической регрессии: 0.3354838709677419 auc-roc: 0.5758958162128309

Как мы и предполагали, downsampling нас не порадовал: модели не хватает данных, чтобы обучиться хорошо

***

In [71]:
# выведем все наши результаты

print("{:<20} {:<20}".format('Модель','Значение метрики'))
for i, j in results_dict.items():
    print("{:<20} {:<20}".format(i, j))

Модель               Значение метрики
forest_untouched     0.5714285714285714
log_reg_untouched    0.30131826741996237
forest_balanced      0.5966183574879227
log_reg_balanced     0.47500000000000003
tree_upsampled       0.5571428571428572
tree_downsampled     0.30942895086321387
forest_downsampled   0.35791881074899945

Получается, что лучшая модель, которую мы нашли - случайный лес с 80 деревьями и максимальной глубиной в 19, на ней и будем проводить тестирование

## Тестирование модели

In [36]:
final_model = RandomForestClassifier(n_estimators = 80, max_depth = 19, random_state=12345)
final_model.fit(features_up, target_up)
predictions_test = final_model.predict(features_test)
final_f1_score = f1_score(target_test, predictions_test)

probabilities_test =  final_model.predict_proba(features_test)
probabilities_one_test = probabilities_test[:, 1]
auc_roc_test = roc_auc_score(target_valid, probabilities_one_test)

print('f1 мера на тестововй выборке:', final_f1_score)
print('auc_roc на тестовой выборке:', auc_roc_test)

f1 мера на тестововй выборке: 0.5953608247422679
auc_roc на тестовой выборке: 0.5065933472045828

Ура-ура! модель прошла финальную проверку - показала на тестовой выборке знаяение f1-меры больше 0.59